#app {
    background-color: lightgrey;
    display: grid;
    grid-template: 100px 1fr / 1fr;
    width: 100%;
    height: 50pc;
    padding: 10px;
}
#header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: red;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#header-profile, #header-posts {
    border: 1px solid black;
    background-color: blue;
    font-size: 2rem;
    padding: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: unset;
    align-self: stretch;
    flex-basis: 100px;
    color: orange;
}
#header-profile:hover, #header-posts:hover {
    background-color: slateblue;
}


#main {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: 50px 1fr / 1fr;
    background-color: blue;
}
#auth > button {
    margin: 10px;
}
#main-header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 5px;
}
#main-body {
    grid-area: 2 / 1 / 3 / 2;
    background-color: silver;
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
}
.message {
    flex: 0 0 200px;
    background-color: thistle;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template: 1fr 4fr / 1fr;
    border: 2px solid purple;
}

.message-header {
    grid-area: 1 / 1 / 2 / 2;
}
.message-header > span {
    display: block;
}
.message-header > span.subject {
    font-size: 2rem;
}
.message-body {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1rem;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
}
button {
    margin: 5px;
    background-color: silver;
    flex: 0 0 100px;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid black;
    width: 80px;
    height: 40px;
}
button:hover {
    background-color: white;
}
button.active {
    background-color: lightcoral;
}
#username {
    padding: 5px;
    font-size: 2rem;
    text-align: center;
    font-family: fantasy;
    color: darkgreen;
    font-weight: bolder;
}
#home {
    display: grid;
    grid-template: 1fr / 1fr 3fr 1fr;
}
#introduction {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 1fr;
}
#introduction div {
    border: 2px solid black;
}
.container {
    display: flex;
    flex-flow: column nowrap;
    /* border: 2px solid blue; */
}
#introduction > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}
#introduction > div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}
#introduction > div:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}
#introduction > div:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;
}
#send-message {
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr;
}
#send-message h2 {
    grid-area: 1 / 1 / 2 / 2;
}
#send-message input {
    grid-area: 2 / 1 / 3 / 2;
}
#send-message button {
    grid-area: 3 / 1 / 4 / 2;
    align-self: stretch;
}

/* Posts CSS */
  #posts-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  #posts {
        width: 600px;
        margin: 20px auto;
        padding: 5px;
        border: 2px solid black;
        display: grid;
        text-align: center;
        grid-template-rows: repeat(5, 1fr);
  }
#posts button {
    justify-self: right;
    grid-area: 1 / 1;
}

#posts-title {
    grid-area: 1 / 1;
}

/* Submit CSS */

#submit-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    display: grid;
    text-align: center;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

#submit label {
    font-weight: bold;
    align-items: center;
}

#post-title {
    grid-area: 1 / 2 / 1 / span 3;
}

#title-label {
    grid-area: 1 / 1;
}

#post-description {
    grid-area: 2 / 2 / 2 / span 3;
}

#description-label {
    grid-area: 2 / 1 / 2 / 1;
}

#price {
    grid-area: 3 / 2 / 3 / span 3;
}

#price-label {
    grid-area: 3 / 1 / 3 / 1;
}

#location {
    grid-area: 4 / 2 / 4 / span 3;
}

#location-label {
    grid-area: 4 / 1 / 4 / 1;
}

#willDeliver {
    grid-area: 5 / 2 / 5 / span 3;
}

#willDeliver-label {
    grid-area: 5 / 1 / 5 / 1;
}

#submit-button {
    grid-area: 6 / 2 / 6 / 3;
    font-size: 25px;
    width: 100px;
}